@font-face {
  font-family: 'AaJianHaoTi';
  src: url('../fonts/Aa剑豪体.ttf');
}

@font-face {
  font-family: 'AaHouDiHei';
  src: url('../fonts/Aa厚底黑.ttf');
}

@font-face {
  font-family: 'LeefontMengHeiTi';
  src: url('../fonts/Leefont蒙黑体.ttf');
}

@font-face {
  font-family: 'ZhongWenXiangSuZiTi';
  src: url('../fonts/中文像素字体.ttf');
}

@font-face {
  font-family: 'JinNianYeYaoJiaYouYa';
  src: url('../fonts/今年也要加油鸭.ttf');
}

@font-face {
  font-family: 'PingFangYuTongTi';
  src: url('../fonts/平方雨桐体.ttf');
}

@font-face {
  font-family: 'JiangXiZhuoKai';
  src: url('../fonts/江西拙楷2.0.ttf');
}

@font-face {
  font-family: 'MeiBeiHeiHeiTi';
  src: url('../fonts/美呗嘿嘿体.ttf');
}

@font-face {
  font-family: 'HuaYuanSongTi';
  src: url('../fonts/花园宋体.ttf');
}

@font-face {
  font-family: 'XiangCuiKeSong';
  src: url('../fonts/香萃刻宋.ttf');
}
